{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
      
      <div class="register-container">
            <div class="row">
                  <div class="col-12">
                        <h1>Register</h1>
                  </div>
            </div>
            <div class="row">
                  <div class="col-8">
                        <div class="register-form">
                              {{ form_start(registrationForm) }}
                              {{ form_row(registrationForm.nickName) }}
                              {{ form_row(registrationForm.email) }}
                              {{ form_row(registrationForm.plainPassword, {
                                    label: 'Password'
                              }) }}
                              {{ form_row(registrationForm.agreeTerms) }}
                              
                              <button type="submit" class="btn btn-dark mt-4">S'inscrire</button>
                              {{ form_end(registrationForm) }}
                              
                              <p class="mt-4">Already an account ? <a href="{{ path('app_login') }}">Login !</a></p>
                        </div>
                  </div>
            </div>
      </div>

{% endblock %}
