.forum-card, .message {
	border: 1px solid black;
	padding: 10px;
	border-radius: 10px;
}

.message-container {
	border: 1px solid black;
	min-width: 25vw;
	padding: 10px;
	border-radius: 10px;
}

.message-infos {
	border-bottom: 1px solid black;
}

#message_content {
	min-width: 50vw;
}

.form {
	display: flex;
	flex-direction: column;
}