{% extends 'base.html.twig' %}

{% block title %}Forum add{% endblock %}

{% block body %}
      
      <div class="forum-view-container container">
            <div class="row mt-5">
                  <div class="col-12">
                        <a class="btn btn-dark" href="{{ path('forumList')}}">Back to list</a>
                  </div>
            </div>
            <div class="row my-4">
                  <div class="col-12">
                        <h1>Forum ADD</h1>
                  </div>
            </div>
            <div class="forum-add-container">
                        <div class="row">
                              <div class="col-12">
                                    <div class="form">
                                          {{ form_start(form) }}
                                          {{ form_row(form.title) }}
                                          <button type="submit" class="btn btn-dark mt-2">Add forum</button>
                                          {{ form_end(form) }}
                                    </div>
                              </div>
                        </div>
            </div>
      </div>

{% endblock %}
