{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}
     
     <div class="forum-view-container container">
           <div class="row mt-5">
                  <div class="col-12">
                        <a class="btn btn-dark" href="{{ path('forumList')}}">Back to list</a>
                  </div>
           </div>
           <div class="row my-4">
                 <div class="col-12">
                       <h1>{{ forum.title }}</h1>
                 </div>
           </div>
           <div class="message-container">
                 {% for message in forum.messages %}
                       <div class="row">
                             <div class="col-12">
                                   <div class="message-infos">
                                         <p>From : {{ message.user.nickName }}</p>
                                         <p>At : {{ message.createdAt | date ("d/m/Y") }}</p>
                                         <p>{{ message.content }}</p>
                                   </div>
                             </div>
                       </div>
                 {% endfor %}
                 <div class="message mt-2">
                       <div class="row">
                             <div class="col-12">
                                   <h3>Add message</h3>
                             </div>
                       </div>
                       <div class="row">
                             <div class="col-12">
                                   <div class="form">
                                         {{ form_start(form) }}
                                         {{ form_row(form.content) }}
                                         <button type="submit" class="btn btn-dark mt-2">Post message</button>
                                         {{ form_end(form) }}
                                   </div>
                             </div>
                       </div>
                 </div>
                
           </div>
     </div>

{% endblock %}
