{% extends 'base.html.twig' %}

{% block title %}Forums{% endblock %}

{% block body %}
      
      <div class="forum-page container">
            {% if app.user %}
                  <div class="row">
                        <div class="col-12 mt-5">
                              <p>You are logged in as {{ app.user.username }}, <a
                                              href="{{ path('app_logout') }}">Logout</a></p>
                        </div>
                  </div>
            {% endif %}
            
            {% if is_granted("ROLE_ADMIN") %}
                  <div class="row">
                        <div class="col-12">
                              <a class="btn btn-dark" href="{{ path('forumAdd') }}">Add forum</a>
                        </div>
                  </div>
            {% endif %}
            
            
            <div class="row my-4">
                  <div class="col-12">
                        <h1>Welcome to the forum list</h1>
                  </div>
            </div>
            
            <div class="forum-list-container container">
                  <div class="row my-4">
                        {% for forum in forums %}
                              <div class="col-12 col-md-6 col-lg-3">
                                    <div class="forum-card mb-4">
                                          <h3>{{ forum.title }}</h3>
                                          <p>Created at : {{ forum.createdAt | date ("d/m/Y") }}</p>
                                          <p> Created by : {{ forum.user.nickName }}</p>
                                          <p>Number of messages : {{ forum.messages | length }}</p>
                                          <a class="btn btn-dark" href="{{ path('forum', { 'id' : forum.id }) }}">Check forum</a>
                                    </div>
                              </div>
                        {% endfor %}
                  </div>
            </div>
      </div>

{% endblock %}
